{% extends 'blogs/base.html' %}

{% block page_header %}
    <h2 class="display-5">Create your own blog!</h2>
{% endblock page_header %}

{% block content %}
<div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
        <p><h3>Last entries: </h3></p>
        <ul>
            {% for entry in entries %}
            <div class="card mb-3">
                <!-- Card header with timestamp and edit link -->
                <h4 class = "card-header">
                    {{ entry.blog.title }} - 
                    {{ entry.date_added|date:'M d, Y H:i' }}
                </h4>
                <!-- Card body with entry text -->
                <div class="card-body">
                    <p class="card-text">{{ entry.text|linebreaks }}</p></div>
            </div>
            {% empty %}
                <li>No entries have been added yet.</li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary btn-lg mt-1"
            href="{% url 'accounts:register' %}">Register &raquo;</a>
    </div>
</div>
{% endblock content %}
